.hidden {
  display: none;
}

.gallery {
  display: flex;
  gap: 20;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}

.photo-card {
  object-fit: cover;
  margin: 0 auto;
  & img {
    display: block;
    width: 500px;
    height: 320px;
  }
}
