.hidden {
  display: none;
}

.gallery {
  display: flex;
  gap: 20;
  flex-wrap: wrap;
  margin: 0 10px;
}

.photo-card {
  flex-basis: calc((100% - 3 * 20px) / 4);
  margin: 0 auto;
  & img {
    display: block;
    width: 100%;
  }
}
